html, body {
  height: 100%;
}

img {
  width: auto;
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.sandbox,
.beep {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.sandbox {
  background-size: contain;
  z-index: 0;
}

.beep {
  background-size: contain;
  opacity: 1;
  transition: opacity 300ms ease-out;
  z-index: 4;
}

.beep.is-hidden {
  opacity: 0;
}

.paintsvg,
.bulbsvg {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 2;
  position: absolute;
  max-width: 1280px;
}

.paintsvg path {
  fill: transparent;
}

.bulbsvg {
  z-index: 3;
}

.bulbsvg svg {
  width: 12%;
  top: 25%;
  left: 21%;
  position: absolute;
}

.bulbsvg path,
.bulbsvg rect,
.bulbsvg polygon {
  opacity: .9;
}
